.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-weight: 600;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #d0d0d0;
  text-transform: uppercase;
  background-color: #1976d2;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.card--box{
  background-color: #fff;
  border: none;
  color: #7b868c;
  width: 100px;
  height: auto;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}
.card__header{
    background: linear-gradient(60deg, #25b3c4, #1976d2);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgb(0 0 0 / 40%);
    padding: 15px;
    border-radius: 3px;
    color: #FFF;
    position: relative;
    border-bottom: none;
    width: 100%;
    margin-bottom: 12px;
    margin-top: -40px;
    text-align: left;
}
.card{
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 4rem !important;
}
.error {
  color: #FF0000;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

